/************ Common ************/

body {
    font-family: 'Roboto Mono', monospace !important;
    line-height: 1.2 rem !important;
    font-size: 0.8 rem !important;
    color: #292d34;
}

img {
    padding: 20px;
}

.container {
    max-width: 670px;
    margin: auto;
}

.gist {
    padding-top: 10px;
}

.gist .gist-meta {
    display: none;
}


/************ Custom ************/

.img-bool {
    max-width: 250px;
    padding: 10px;
}

.img-w-border {
    border: #41474e 2px solid;
}

.img-float-right {
    float: right;
    max-width: 60%;
}

.img-float-left {
    float: left;
    max-width: 60%;
}