/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''), 
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* roboto-mono-regular - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-mono-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-mono-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
    
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    font-size: 1em;
    color: #292d34;
}

pre {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.4em;
    font-size: 1.2em;
    color: #3b8452;
}

code {
    line-height: 1.4em;
    font-size: 1.2em;
    color: #d98e24;
}

h2 {
    color: #3b8452;
}

h3 {
    color: #3b8452;
}

a {
    color: #3889c7;
}

img {
    padding: 20px;
}

.container {
    max-width: 670px;
    margin: auto;
}

/************* Embedded ***********/

.gist {
    padding-top: 10px;
}

.gist .gist-meta {
    display: none;
}

/************ Custom ************/

.img-bool {
    max-width: 250px;
    padding: 10px;
}

.img-w-border {
    border: #41474e 2px solid;
}

.img-float-right {
    float: right;
    max-width: 60%;
}

.img-float-left {
    float: left;
    max-width: 60%;
}